//base
@import "./base/reset";
@import "./base/var";
@import "./base/color";
@import "./base/font";

//mixin 

@import "./mixins/mixin";

// layout
@import "./layout/header";
@import "./layout/login";
@import "./layout/footer";


//page

@import "./page/main";
@import "./page/about";


body {
   background-color: rgb(0, 132, 255);
   font-size: 18px;
   color: #fff;
   padding: 20px;
   h2 {
      font-size: 100px;
      margin: 10px 20px;
   }
}








